<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>四字熟語ドリル</title>
</head>
<body>
  <div class="wrapper">
  <div style ="text-align: center;">
    <h1>四字熟語読みテスト</h1>
    <h2>読みをひらがなで入力しましょう</h2><br><h3>
    <p></p>
<form action="#" method="post">
  <h2><%= lists[0].jukugo%></h2>
	<h3>答え</h3>
	<input type="text" name="read"></p>
</form>
    <a href="/" class="btn-square-shadow">決定</a><br><h3>

  <a href="/" class="btn-square-shadow">もどる</a>
</div>
</body>
</html>