<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>四字熟語ドリル</title>
</head>
<body>
  <div class="wrapper">
  <div style ="text-align: center;">
    <h1>四字熟語読みテスト</h1>
    <h2>読みをひらがなで入力しましょう</h2><br><h3>
    <p></p>
<% for (var i=0; i < 10; i++) { %>
  <form action="readtest" method="POST" id="question">
    <% var a = Math.floor( Math.random() * (1))%>
    <% var b = Math.floor( Math.random() * (0,9))%>
    <%= i+1%>問目
    <h2><%= lists[a*100 + b*10 +i].jukugo%></h2>
	  答え
    <input id="textBox" type="text" value=" " ></p>
    <input type="button" id ="form-button" value="決定" class="btn-square-shadow" onClick="check();">
  </form>
  <% function check(){%>
    <% var c = document.forms.question%>
    <% if (c == lists[a*100 + b*10 +i].read){%>
      <h2>正解</h2>
    <% }else{%>
      <h2>不正解</h2>
    <% }%>
  <% }%>
<% }%>  

  <a href="/" class="btn-square-shadow">もどる</a>
</div>
</body>
</html>