<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>フォームから送信された値</h1>
  <table>
    <tr>
      <th>項目</th>
      <th>値</th>
    </tr>
    <tr>
      <td><%= username %></td>
      <td><%= message %></td>
    </tr>
  </table>
  
</body>
</html>