<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>四字熟語ドリル</title>
</head>
<body>
  <div class="wrapper">
  <div style ="text-align: center;">
    <h1>結果</h1>
    <h2><%= question%>問中<%= correct%>問正解</h2>
    <% if (Number(correct) === 10){%>
        <h3>全問正解おめでとう</h3>
        <p><img src="/public/image/result1.jpg"></p>
    <% }else if(Number(correct) > 6){%>
        <h3>全問正解目指してがんばりましょう</h3>
        <p><img src="/public/image/result2.jpg"></p>
    <% }else if(Number(correct) > 3){%>
        <h3>くり返し解いてみましょう</h3>
        <p><img src="/public/image/result4.jpg"></p>
    <% }else{%>
        <h3>もっとがんばりましょう</h3>
        <p><img src="/public/image/result3.jpg"></p>
    <% }%>  
    <a href="/" class="btn-square-shadow">もどる</a> 
</div>
</body>
</html>