<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>四字熟語ドリル</title>
</head>
<body>
  <div class="wrapper">
  <div style ="text-align: center;">
    <h1>四字熟語テスト</h1>
    <h3>選択してください</h3>
  <a href="/meantest" class="btn-square-shadow">意味テストをする</a><br><h3>
  <a href="/readtest" class="btn-square-shadow">読みテストをする</a><br><h3>

  <a href="/" class="btn-square-shadow">もどる</a>
</div>
</body>
</html>